.banner-section {
  height: 400px;
}
.banner-section h1 {
  font-size: 46px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 5px;
  border-bottom: 2px solid var(--primary-color);
}
.banner-section h1 span {
  color: var(--primary-color);
}
.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 30px 0 0 0;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 0 0;
  margin: 200px 0 50px 0;
}
.footer .socMedIconsFooter a {
  color: black;
}
.footer .socMedIconsFooter a:hover {
  color: #d1459b;
}
.footer #footerText {
  color: gray;
  font-size: 14px;
  text-align: center;
  margin: 0 50px 0;
}
@media all and (max-width: 521px) {
  .banner {
    width: 100%;
    height: 300px;
  }
  .footer {
    margin-top: 30px;
  }
}
