.img-banner {
  margin: 20px 0;
  width: 100%;
  height: auto;
}
.img-banner img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  margin: 0 0 20px 0;
}
.hero-section {
  margin: 20px 0;
  padding: 20px 0;
}
.hero img {
  max-width: 100%;
  max-height: 500px;
  padding: 0 0 30px 0;
}
.hero h1 {
  font-weight: 500;
}
.hero h2 {
  font-size: 32px;
  color: var(--primary-color);
}
.hero a {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  border: 1px solid var(--primary-color);
  padding: 5px 8px;
  transition: 0.2s ease;
}
.hero a:hover {
  text-decoration: none;
  color: #fff;
  background-color: var(--primary-color);
}
